<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<!-- <bean id='messageBean'
		class="com.capgemini.springcore.beans.MessageBeans">
		<property name="message" value="Welcome to spring!!"></property>
	</bean> -->
	
	<bean  class="com.capgemini.springcore.postprocessor.MyBeanPostProcessor"></bean>
    <bean  class="com.capgemini.springcore.postprocessor.MyBeanFactoryPostProcessor"></bean>
	<bean id="messageBean2" class="com.capgemini.springcore.beans.MessageBeans2"
	init-method="init" destroy-method="destroy">
	
	<property name="message" value="Happy childrens day"></property>
	
	</bean>
	
	<!-- <bean id="employee"
		class="com.capgemini.springcore.beans.EmployeeBean">
		<property name="empId" value="101"/>
		<property name="empName" value="Mrunalini"></property>
	</bean>
	<bean id="employee1"
		class="com.capgemini.springcore.beans.EmployeeBean">
		<property name="empId" value="102"/>
		<property name="empName" value="Asmita"></property>
	</bean> -->
</beans>