<div class="col-md-4 offset-md-4 mt-5">
    <h5>{{message}}</h5>
    <div class="tile ">
        <div class="tile-header">
            <h2
                style="color:black; opacity: .75; font-size: 2rem; display:flex; justify-content: center; align-items: center; height: 100%;">
                Register Employee</h2>
        </div>
        <div class="tile-body">
            <form class="form-group" #registerform='ngForm' (ngSubmit)='addemployee(registerform)'>
                <label class="form-input">
                    <i class="material-icons">person</i>
                    <input type="userName" name="phoneNo" #userName='ngModel' ngModel minlength="8" required />
                    <span class="label">User Name</span>
                    <div class="underline"></div>
                    <div *ngIf='userName.touched && userName.invalid'>
                        <p class="alert text-danger" *ngIf='userName.errors.required'>
                            *This field is mandatory
                        </p>
                    </div>
                </label>
                <label class="form-input">
                    <i class="material-icons">mail bulk</i>
                    <input type="email" name="email" required pattern="[^@]*@[a-zA-Z]+(.com)" #email='ngModel'
                        ngModel />
                    <div class="label">Email</div>
                    <div class="underline"></div>
                    <div *ngIf='email.touched && email.invalid'>
                        <p class="alert text-danger" *ngIf='email.errors.required'>
                            *This field is mandatory
                        </p>
                        <p class="alert text-danger" *ngIf='email.errors.pattern'>
                            *Enter valid email
                        </p>
                    </div>
                </label>

                <label class="form-input">
                    <i class="material-icons">lock</i>
                    <input type="password" name="password" #password='ngModel' ngModel minlength="8" required />
                    <span class="label">Password</span>
                    <div class="underline"></div>
                    <div *ngIf='password.touched && password.invalid'>
                        <p class="alert text-danger" *ngIf='password.errors.required'>
                            *This field is mandatory
                        </p>
                        <p class="alert text-danger" *ngIf='password.errors.pattern'>
                            *Password should proper
                        </p>
                        <p class="alert text-danger" *ngIf='password.errors.minlength'>
                            *Minimum length should be 8
                        </p>

                    </div>
                </label>
                <label class="form-input">
                    <i class="material-icons">home</i>
                    <input type="address" name="address" #address='ngModel' ngModel minlength="8" required />
                    <span class="label">Address</span>
                    <div class="underline"></div>
                    <div *ngIf='address.touched && address.invalid'>
                        <p class="alert text-danger" *ngIf='address.errors.required'>
                            *This field is mandatory
                        </p>
                    </div>
                </label>
                <label class="form-input">
                    <i class="material-icons">phone</i>
                    <input type="phoneNo" name="phoneNo" #phoneNo='ngModel' ngModel minlength="8" required />
                    <span class="label">Phone Number</span>
                    <div class="underline"></div>
                    <div *ngIf='phoneNo.touched && phoneNo.invalid'>
                        <p class="alert text-danger" *ngIf='phoneNo.errors.required'>
                            *This field is mandatory
                        </p>
                    </div>
                </label>
               

                <div class="submit-container clearfix" style="margin-top: 2rem;">
                    <button class="btn btn-primary float-right" type="submit" 
                       >Register</button>
                </div>
            </form>
        </div>
    </div>
</div>